<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/styleslog.css">
  </head>
  <body>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
     <form action="/login" method="post">
  
      <img src="img/circled-user-male-skin-type-1-2.png" alt=""></br>
      <h4><%= temp %></h4>
      <h4>Username</h4>
<input type="text" name="mobile" required maxlength="10" minlength="10" placeholder="number">
      <h4>Password</h4>
<input type="password" name="password" required minlength="5" maxlength="12" placeholder="password">
      <button type="submit">login</button>
    </form>

</div>

  </body>
</html>
