<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta tag description author for SEO -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
    <title>IIY Software | Welcome</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">   
</head>
</head>
<body>
    <!-- <div class="notification" style="text-align: center;background:mintcream;color: black;">Hello | Kumar</div> -->
    <header>
        <div class="container">
            <!-- logo -->
           <div id="branding">
               <h1><span class="highlight">IIY</span>Software</h1>
           </div>
           <!-- nav bar -->
           <nav class="topnav">
               <ul>
                   <li><a href= "/home">Home</a></li>
                   <li><a href= "/about">About Us</a></li>
                   <li><a href= "/video_listing">Videos</a></li>
                   <li><a href= "/notes">Notes</a></li>
                   <li><a href= "#">Quiz</a></li>
                   <li><a href= "#">Test</a></li>
                   <li><a href="/home">Logout</a></li>
               </ul>
           </nav>
        </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h1>Indias first online learning website for schools</h1>
        </div>
    </section>
    

    <section id="boxes">
            <section class="features">
                    <h2>Our Salient Features</h2>
                </section>
        <div class="container">
            <div class="box">
                <img src="/img/asking.png" alt="">
                <h3>HTML5 Markup</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, velit?</p>
            </div>
            <div class="box">
                <img src="/img/notebook.svg" alt="">
                <h3>HTML5 Markup</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, velit?</p>
            </div>
            <div class="box">
                <img src="/img/online-education.svg" alt="">
                <h3>HTML5 Markup</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, velit?</p>
            </div>
            <div class="box">
                <img src="/img/quiz.svg" alt="">
                <h3>HTML5 Markup</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, velit?</p>
            </div>
        </div>
    </section>
    
   
    
    <footer>
        <p>Kumar Design <i class="fa fa-heart" style="font-size:15px;color: red;"></i> Copyright &copy; 2019</p>
    </footer>
<script src="/js/script.js"></script>
    
</body>
</html>
